*.un~
*.swp
tags
target
project/boot
.history
project.vim
*.old
.idea
.project
.classpath
.metadata/
.bsp
.metals
.DS_Store
dist/
target/
.bloop/
.bsp/
project/metals.sbt
coursier
metals.sbt
.idea/
.vscode/
.jvmopts
.java-version
node_modules
package-lock.json
